@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: 
    background-color 0.3s,
    color 0.3s;
    font-family: "JetBrains Mono", monospace;
}

body.claro {
    background-color: white;
    color: #000000;
}

body.escuro {
    background-color: black;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4vh;
    align-items: center;
}

#tema {
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 5vh;
    border: 1.5px solid #632e70;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0 0 25px 5px rgba(138, 43, 226, 0.5);
}

body.claro #tema {
    background-color: white;
}

body.escuro #tema {
    background-color: black;
}

body #tema:hover {
    background-color: #a16baf;
}

#titulo-header {
    font-size: 2rem;
    font-weight: normal;
}

.sombra {
    border: 2px solid #632e70;
    border-radius: 30px;
    box-shadow: 0 0 25px 5px rgba(138, 43, 226, 0.5);
    transition: transform 0.3s ease;
}

.sombra:hover {
    transform: translateY(-8px);
}

#primeiro-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 12vh;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 25%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.container h3 {
    margin-top: 2.8vh;
    font-size: 25px;
    font-weight: normal;
    background-color: #632e7093;
    height: 7%;
    width: 30%;
    border-radius: 4px;
    text-align: center;
}

#texto-sobre-mim {
    text-align: center;
    font-size: 18px;
    margin-top: 2.5vh;
    padding: 25px;
}

#primeiro-container img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-bottom: 10vh;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

#segundo-container {
    margin-top: 21vh;
}

#habilidades {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12vh;
}

.habilidades-textos h3{
    margin-bottom: 23rem;
}

.habilidades-textos ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    list-style-type: none;
    position: absolute;
}

a {
    display: flex;
    justify-content: center;
    margin-top: 21vh;
    margin-bottom: 12vh;
    text-decoration: none;
    font-size: 25px;
}

body.claro a {
    color: black;
}

body.escuro a {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh
}